<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#8BD14E'">
    <mat-panel-title [style.color]="'#3D3C48'">
      Add at Position
    </mat-panel-title>
    <img src="../../assets/add.png" style="width:25px;height:25px;">
  </mat-expansion-panel-header>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter Text to be Added: "
        [(ngModel)]="text"
        [ngModelOptions]="{ standalone: true }"
        class="textToBeChanged"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Position: "
        [(ngModel)]="position"
        [ngModelOptions]="{ standalone: true }"
        class="textToBeChanged"
      />
    </mat-form-field>
    <mat-action-row>
      <button mat-button type="submit">Apply</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
