<div class="addbeforeafter">
  <mat-expansion-panel>
    <mat-expansion-panel-header [style.background-color]="'#8BD14E'">
      <mat-panel-title>
        Add Before/After
      </mat-panel-title>
      <mat-panel-description>
        Text to be added before/after
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Text to be Added: "
          [(ngModel)]="textToAdd"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Before or After: "
          [(ngModel)]="text"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-radio-group
        [(ngModel)]="beforeOrAfter"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-radio-button [value]="true">Before</mat-radio-button>
        <mat-radio-button [value]="false">After</mat-radio-button>
      </mat-radio-group>
      <mat-action-row>
        <button mat-button type="submit">Submit</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
</div>
