<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Before/After
      </mat-panel-title>
      <mat-panel-description>
        Text to be added before/after
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Added Text" class="inputValue">
    </mat-form-field>

    <mat-checkbox>Before</mat-checkbox>
    <mat-checkbox>After</mat-checkbox>
    <mat-checkbox>Filename</mat-checkbox>
    <mat-checkbox>Extentsion</mat-checkbox>
  </mat-expansion-panel>