<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#F78988'">
    <mat-panel-title [style.color]="'#3D3C48'">
      Remove Numbers or Words
    </mat-panel-title>
    <img src="../../assets/remove.png" style="width:25px;height:25px;">
  </mat-expansion-panel-header>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter Text to be Removed: "
        [(ngModel)]="text"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <br>
    <mat-checkbox [(ngModel)]="caseSen" [ngModelOptions]="{ standalone: true }"
        >Case Sensitive</mat-checkbox
      >
    <mat-checkbox [(ngModel)]="stripNums" [ngModelOptions]="{ standalone: true }"
        >Remove All Numbers</mat-checkbox
      >
    <mat-action-row>
      <button mat-button type="submit">Submit</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
