<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#7EE8FA'">
    <mat-panel-title [style.color]="'#3D3C48'">
      Modify Split and Move
    </mat-panel-title>
    <img src="../../assets/swap.png" style="width:25px;height:25px;">
  </mat-expansion-panel-header>

  
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <mat-form-field>
      <input
        matInput
        placeholder="Split words "
        [(ngModel)]="text"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
  <mat-action-row>
    <button mat-button>Apply</button>
  </mat-action-row>
  </form>
</mat-expansion-panel>
