<html>
  <div class="Meta">
    Add Date
   <div class= "inside">
    Insert <select id = "timeFormat" [(ngModel)]="timeFormat" class="drop_menu" name="Choose Time Format">
          <option value="HH:MM">HH:MM</option>
          <option value="HH:MM:SS">HH:MM:SS</option>
        </select>
        Insert at  <select id="location"[(ngModel)]="location" class="drop_menu" name="">
            <option value=(true)>Front</option>
            <option value=(false)>End</option>
          </select>
  </div>
   </div>
