<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#7EE8FA'">
    <mat-panel-title [style.color]="'#3D3C48'">
      Modify Select and Move
    </mat-panel-title>
    <img src="../../assets/swap.png" style="width:25px;height:25px;">
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Text" class="inputValue" />
  </mat-form-field>
  <mat-checkbox>Checkbox</mat-checkbox>

  <mat-action-row>
    <button mat-button>Apply</button>
  </mat-action-row>
</mat-expansion-panel>
