<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#7EE8FA'">
    <mat-panel-title>
      Modify Select and Move
    </mat-panel-title>
    <mat-panel-description>
      Description
      <mat-icon>icon</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="Text" class="inputValue" />
  </mat-form-field>
  <mat-checkbox>Checkbox</mat-checkbox>

  <mat-action-row>
    <button mat-button>Apply</button>
  </mat-action-row>
</mat-expansion-panel>
