<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#8BD14E'">
    <mat-panel-title [style.color]="'#3D3C48'">
      Add Counter
    </mat-panel-title>
    <img src="../../assets/add.png" style="width:25px;height:25px;">
  </mat-expansion-panel-header>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Counter: "
        [(ngModel)]="padding"
        [ngModelOptions]="{ standalone: true }"
        class="textToBeChanged"
      />
    </mat-form-field>
    <mat-radio-group [(ngModel)]="beforeOrAfter" [ngModelOptions]="{ standalone: true }">
        <mat-radio-button [value]=true>Before</mat-radio-button>
        <mat-radio-button [value]=false>After</mat-radio-button>
    </mat-radio-group>
    <mat-action-row>
      <button mat-button type="submit">Apply</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
