<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BTH545</title>
</head>
<body>
<div id="BTH545" class="BTH545_Class">
	<svg class="Line_2" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_2_Class" d="M 0 0 L 18 16">
		</path>
	</svg>
	<svg class="Line_3" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_3_Class" d="M 0 16 L 18 0">
		</path>
	</svg>
	<svg class="Line_124" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_124_Class" d="M 0 0 L 18 16">
		</path>
	</svg>
	<svg class="Line_125" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_125_Class" d="M 0 16 L 18 0">
		</path>
	</svg>
	<svg class="Ellipse_40">
		<ellipse fill="rgba(255,255,255,1)" class="Ellipse_40_Class" rx="1.5" ry="1.5" cx="1.5" cy="1.5">
		</ellipse>
	</svg>
	<div class="Rectangle_619_Class">
	</div>
	<svg class="Line_207" viewBox="0 0 2 1050">
		<path fill="transparent" stroke="rgba(193,207,223,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_207_Class" d="M 0 0 L 2 1050">
		</path>
	</svg>
	<div class="Rectangle_620_Class">
	</div>
	<div class="Rectangle_621_Class">
	</div>
	<div class="APPLY__Class">
		<span>APPLY </span>
	</div>
	
	<div class="Select_All_Class">
		<span>Select All</span>
	</div>
	<div class="Rectangle_623_Class">
	</div>
	<div class="Repeat_Grid_81_Class">
		<div class="Repeat_Grid_81_0_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_1_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_2_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_3_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_4_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_5_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_6_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_7_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_8_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_9_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_10_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_11_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_12_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_13_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_14_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_15_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_16_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
		<div class="Repeat_Grid_81_17_Class">
			<svg class="Ellipse_3">
				<ellipse fill="rgba(95,101,117,1)" class="Ellipse_3_Class" rx="18" ry="18" cx="18" cy="18">
				</ellipse>
			</svg>
		</div>
	</div>
	<svg class="Path_180" viewBox="0 0 725.482 30">
		<path fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_180_Class" d="M 0 0 L 725.482177734375 0 L 725.482177734375 30 L 0 30 L 0 30 L 0 0 Z">
		</path>
	</svg>
	<div class="Group_769_Class">
		<div class="Rectangle_6_Class">
		</div>
		<svg class="Line_5" viewBox="0 0 9 6">
			<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_5_Class" d="M 0 0 L 9 6">
			</path>
		</svg>
		<svg class="Path_16" viewBox="0 0 9 6">
			<path fill="rgba(0,0,0,0)" stroke="rgba(87,87,87,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_16_Class" d="M 9 0 L 0 6">
			</path>
		</svg>
	</div>
	<div class="Rectangle_624_Class">
	</div>
	<div class="Group_770_Class">
		<svg class="Ellipse_1">
			<ellipse fill="rgba(255,255,255,1)" stroke="rgba(87,87,87,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Ellipse_1_Class" rx="9" ry="7.5" cx="9" cy="7.5">
			</ellipse>
		</svg>
		<svg class="Line_4" viewBox="0 0 9 5">
			<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_4_Class" d="M 9 0 L 0 5">
			</path>
		</svg>
	</div>
	<svg class="Path_181" viewBox="0 0 941.482 866.285">
		<path fill="rgba(61,60,72,1)" stroke="rgba(193,207,223,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_181_Class" d="M 11.95878219604492 0 L 929.5235595703125 0 C 936.1283569335938 0 941.4824829101563 6.025899887084961 941.4824829101563 13.45922374725342 L 941.4824829101563 852.825439453125 C 941.4824829101563 860.2587280273438 936.1283569335938 866.28466796875 929.5235595703125 866.28466796875 L 11.95878219604492 866.28466796875 C 5.354130268096924 866.28466796875 0 860.2587280273438 0 852.825439453125 L 0 13.45922374725342 C 0 6.025899887084961 5.354130268096924 0 11.95878219604492 0 Z">
		</path>
	</svg>
	<div class="Repeat_Grid_82_Class">
		<div class="Repeat_Grid_82_0_Class">
			<div class="Rectangle_625_Class">
			</div>
		</div>
		<div class="Repeat_Grid_82_1_Class">
			<div class="Rectangle_625_Class">
			</div>
		</div>
		<div class="Repeat_Grid_82_2_Class">
			<div class="Rectangle_625_Class">
			</div>
		</div>
	</div>
	<div class="Group_771_Class">
		<div class="Rectangle_19_Class">
		</div>
		<div class="Desktop_Class">
			<span>Desktop</span>
		</div>
	</div>
	<div class="Repeat_Grid_83_Class">
		<div class="Repeat_Grid_83_0_Class">
			<div class="Rectangle_626_Class">
			</div>
		</div>
		<div class="Repeat_Grid_83_1_Class">
			<div class="Rectangle_626_Class">
			</div>
		</div>
		<div class="Repeat_Grid_83_2_Class">
			<div class="Rectangle_626_Class">
			</div>
		</div>
		<div class="Repeat_Grid_83_3_Class">
			<div class="Rectangle_626_Class">
			</div>
		</div>
		<div class="Repeat_Grid_83_4_Class">
			<div class="Rectangle_626_Class">
			</div>
		</div>
	</div>
	<div class="Select_All_Class">
		<span>Select All</span>
	</div>
	<div class="Show_Folders_Class">
		<span>Show Folders</span>
	</div>
	<div class="Show_Files_Class">
		<span>Show Files</span>
	</div>
	<div class="Rename_Files_in_Folders_Class">
		<span>Rename Files in Folders</span>
	</div>
	<div class="Filter_by_File_Type_Class">
		<span>Filter by File Type</span>
	</div>
	<div class="Rectangle_627_Class">
	</div>
	<div class="Downloads_Class">
		<span>Downloads</span>
	</div>
	<div class="______Documents_Class">
		<span>      Documents</span>
	</div>
	<div class="Pictures_Class">
		<span>Pictures</span>
	</div>
	<svg class="Path_182" viewBox="0 0 3.5 866.5">
		<path fill="rgba(0,0,0,0)" stroke="rgba(193,207,223,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_182_Class" d="M 0 0 L 3.5 866.5">
		</path>
	</svg>
	<div class="Repeat_Grid_84_Class">
		<div class="Repeat_Grid_84_0_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
		<div class="Repeat_Grid_84_1_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
		<div class="Repeat_Grid_84_2_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
		<div class="Repeat_Grid_84_3_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
		<div class="Repeat_Grid_84_4_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
		<div class="Repeat_Grid_84_5_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
		<div class="Repeat_Grid_84_6_Class">
			<div class="Rectangle_628_Class">
			</div>
		</div>
	</div>
	<div class="test_html_Class">
		<span>test.html</span>
	</div>
	<div class="google_exe_Class">
		<span>google.exe</span>
	</div>
	<div class="study_txt_Class">
		<span>study.txt</span>
	</div>
	<div class="money_cvs_Class">
		<span>money.cvs</span>
	</div>
	<div class="Photo_bmp_Class">
		<span>Photo.bmp</span>
	</div>
	<div class="Group_772_Class">
		<div class="Rectangle_23_Class">
		</div>
		<svg class="Path_4" viewBox="4490.491 321.65 6.766 12.793">
			<path fill="rgba(95,101,117,1)" stroke="rgba(166,183,203,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_4_Class" d="M 4490.4912109375 334.443115234375 L 4497.2568359375 334.443115234375 L 4497.2568359375 326.0263977050781 L 4494.07275390625 321.6496887207031 L 4490.4912109375 326.0263977050781 L 4490.4912109375 334.443115234375 Z">
			</path>
		</svg>
	</div>
	<div class="Group_722_Class">
		<div class="Rectangle_23_Class">
		</div>
		<svg class="Path_4" viewBox="4490.491 321.65 6.766 12.793">
			<path fill="rgba(95,101,117,1)" stroke="rgba(166,183,203,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_4_Class" d="M 4490.4912109375 334.443115234375 L 4497.2568359375 334.443115234375 L 4497.2568359375 326.0263977050781 L 4494.07275390625 321.6496887207031 L 4490.4912109375 326.0263977050781 L 4490.4912109375 334.443115234375 Z">
			</path>
		</svg>
	</div>
	<div class="New_Folder_Class">
		<span>New Folder</span>
	</div>
	<div class="New_Folder_A_Class">
		<span>New Folder A</span>
	</div>
	<div class="View_File_Extensions_Class">
		<span>View File Extensions</span>
	</div>
	<div class="Group_773_Class">
		<svg class="Path_19" viewBox="0 0 57 33">
			<path fill="rgba(59,59,59,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Path_19_Class" d="M 16.5 0 L 40.5 0 C 49.61269760131836 0 57 7.387301445007324 57 16.5 C 57 25.61269760131836 49.61269760131836 33 40.5 33 L 16.5 33 C 7.387301445007324 33 0 25.61269760131836 0 16.5 C 0 7.387301445007324 7.387301445007324 0 16.5 0 Z">
			</path>
		</svg>
		<div class="ON_Class">
			<span>ON</span>
		</div>
		<svg class="Ellipse_11">
			<ellipse fill="rgba(139,209,78,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Ellipse_11_Class" rx="14.5" ry="16.5" cx="14.5" cy="16.5">
			</ellipse>
		</svg>
	</div>
	<div class="Rectangle_629_Class">
	</div>
	<div class="Rectangle_630_Class">
	</div>
	<div class="Copy__Class">
		<span>Copy </span>
	</div>
	<div class="Rectangle_631_Class">
	</div>
	<div class="Rectangle_632_Class">
	</div>
	<svg class="Polygon_103" viewBox="0 0 15 10">
		<path fill="rgba(193,207,223,1)" class="Polygon_103_Class" d="M 7.499999523162842 0 L 15.00000095367432 10 L 0 10 Z">
		</path>
	</svg>
	<svg class="Line_208" viewBox="0 0 22.341 0.326">
		<path fill="transparent" stroke="rgba(193,207,223,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" class="Line_208_Class" d="M 22.3406982421875 0.32550048828125 L 0 0">
		</path>
	</svg>
	<svg class="Polygon_104" viewBox="0 0 15 10">
		<path fill="rgba(143,168,196,1)" class="Polygon_104_Class" d="M 7.499999523162842 0 L 15.00000095367432 10 L 0 10 Z">
		</path>
	</svg>
	<svg class="Line_209" viewBox="0 0 22.341 0.326">
		<path fill="transparent" stroke="rgba(143,168,196,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" class="Line_209_Class" d="M 22.3406982421875 0.32550048828125 L 0 0">
		</path>
	</svg>
	<div class="Move_to_Class">
		<span>Move to</span>
	</div>
	<div class="Rectangle_633_Class">
	</div>
	<div class="Rectangle_634_Class">
	</div>
	<div class="List_Class">
		<span>List</span>
	</div>
	<div class="Icon_Class">
		<span>Icon</span>
	</div>
	<div class="Rectangle_635_Class">
	</div>
	<div class="Rectangle_636_Class">
	</div>
	<div class="List_Class">
		<span>List</span>
	</div>
	<div class="Icon_Class">
		<span>Icon</span>
	</div>
	<img class="undo_Class" src="undo.png" srcset="undo.png 1x, undo@2x.png 2x">
	<div class="Group_774_Class">
		<svg class="history_white_192x192">
			<ellipse fill="rgba(59,59,59,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="history_white_192x192_Class" rx="25" ry="25" cx="25" cy="25">
			</ellipse>
		</svg>
		<img class="history_white_192x192_2H_Class" src="history_white_192x192_2H.png" srcset="history_white_192x192_2H.png 1x, history_white_192x192_2H@2x.png 2x">
	</div>
	<div class="History_Class">
		<span>History</span>
	</div>
	<div class="Undo_Class">
		<span>Undo</span>
	</div>
	<svg class="Line_210" viewBox="0 0 23 1.5">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_210_Class" d="M 0 0 L 23 0">
		</path>
	</svg>
	<svg class="Line_211" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_211_Class" d="M 0 0 L 18 16">
		</path>
	</svg>
	<svg class="Line_212" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_212_Class" d="M 0 16 L 18 0">
		</path>
	</svg>
	<div class="Rectangle_637_Class">
	</div>
	<svg class="Line_213" viewBox="0 0 23 1.5">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_213_Class" d="M 0 0 L 23 0">
		</path>
	</svg>
	<svg class="Line_214" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_214_Class" d="M 0 0 L 18 16">
		</path>
	</svg>
	<svg class="Line_215" viewBox="0 0 18 16">
		<path fill="transparent" stroke="rgba(87,87,87,1)" stroke-width="1.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Line_215_Class" d="M 0 16 L 18 0">
		</path>
	</svg>
	<div class="Rectangle_638_Class">
	</div>
</div>
</body>
</html>