<div class="container-fluid" style="overflow-x:hidden">
  <div class="left-panel">
    <div class="col-md-3">
      <div class="dropHeader">
        <button mat-raised-button>Apply</button>
        <div class="col-md-8">
          <mat-checkbox>Select All</mat-checkbox>
        </div>
      </div>
      <div style="overflow-y: scroll; max-height: 90vh;">
        <mat-accordion>
          <app-add-beforeafter matTooltip="Insert text before or after selected text"></app-add-beforeafter>
          <app-add-beginend matTooltip="Insert text at beginning or ending of the filename"></app-add-beginend>
          <app-add-counter matTooltip="Insert counter at beginning or ending"></app-add-counter>
          <app-add-position matTooltip="Insert text at specific position"></app-add-position>
          <app-modify-findreplace matTooltip="Find specified text and replace"></app-modify-findreplace>
          <app-modify-replacenum matTooltip="Replace all numbers with specified text"></app-modify-replacenum>
          <app-modify-selectmove matTooltip="Select text and move it to a specific position"></app-modify-selectmove>
          <app-modify-splitmove matTooltip="???"></app-modify-splitmove>
          <app-modify-swap matTooltip="???"></app-modify-swap>
          <app-remove-beginend matTooltip="Remove specified number of characters from beginning or ending"></app-remove-beginend>
          <app-remove-numwords matTooltip="Remove specified text or all numbers"></app-remove-numwords>
          <app-remove-position matTooltip="???"></app-remove-position>
          <app-regex matTooltip="???"></app-regex>
          <app-meta-date matTooltip="Add date(YYY_MM_DD) to beginning or ending"></app-meta-date>
          <app-meta-location matTooltip="Add location to beginning or ending"></app-meta-location>
          <app-meta-resolution matTooltip="Add resolution to beginning or ending"></app-meta-resolution>
          <app-meta-time matTooltip="Add time(HH_MM_SS) to beginning or ending"></app-meta-time>
        </mat-accordion>
      </div>
    </div>
  </div>

  <div class="files">
    <div class="col-md-7">
      <div class="row" style="padding: 10px;">
        <div class="col-md-12">
          <input matInput placeholder="C:\Desktop\" />
        </div>
      </div>
      <div class="row" style="padding: 5px;">
        <div class="col-md-4">
          <mat-slide-toggle>View File Extensions</mat-slide-toggle>
        </div>
        <div class="col-md-2">
          <button mat-raised-button>Move To</button>
        </div>
        <div class="col-md-2">
          <button mat-raised-button>Copy</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button>List View</button>
          <button mat-raised-button>Icon View</button>
        </div>
      </div>
      <div class="displayFiles" style="overflow-y:scroll; overflow-x:hidden; max-height: 87vh;">
        <div class="row" style="background-color: #3D3C48; padding: 10px; border-radius: 15px;">
          <div class="col-md-6">
            <app-display-original></app-display-original>
          </div>
          <div class="col-md-6">
            <app-display-modified></app-display-modified>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="row" style="padding: 10px;">
      <div class="col-md-1">
        <img src="../assets/undo.png" style="width:30px;height:30px;">
      </div>
      <div class="col-md-1">
        <img src="../assets/history.png" style="width:30px;height:30px;">
      </div>
      <div class="row" style="padding: 5px;">
        <div class="col-md-1">
          <button mat-raised-button>Undo</button>
        </div>
        <div class="col-md-1">
          <button mat-raised-button>History</button>
        </div>
        <div class="row">
          <div class="col-md-1" style="padding: 10px;">
            <div class="buttons">
              <button mat-raised-button style="width: 200px; padding: 5px;">Desktop</button>
              <button mat-raised-button style="width: 200px; padding: 5px;">Downloads</button>
              <button mat-raised-button style="width: 200px; padding: 5px;">Documents</button>
              <button mat-raised-button style="width: 200px; padding: 5px;">Pictures</button>
            </div>
            <div class="row">
              <div class="col-md-1" style="padding: 10px;">
                <div class="checkboxes">
                  <div class="col-md-1" style="padding: 10px;">
                    <mat-checkbox>Select All</mat-checkbox>
                  </div>
                  <div class="col-md-1" style="padding: 10px;">
                    <mat-checkbox>Show Folders</mat-checkbox>
                  </div>
                  <div class="col-md-1" style="padding: 10px;">
                    <mat-checkbox>Show Files</mat-checkbox>
                  </div>
                  <div class="col-md-1" style="padding: 10px;">
                    <mat-checkbox>Rename Files in Folders</mat-checkbox>
                  </div>
                  <div class="col-md-1" style="padding: 10px;">
                    <mat-checkbox>Filter by File Type</mat-checkbox>
                    <mat-form-field>
                      <input matInput placeholder="e.g. .txt .doc" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>