<mat-expansion-panel>
  <mat-expansion-panel-header [style.background-color]="'#8BD14E'">
    <mat-panel-title>
      Add to Beginning or Ending
    </mat-panel-title>
    <mat-panel-description>
      Description
      <mat-icon>icon</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter Text to be Added: "
        [(ngModel)]="text"
        [ngModelOptions]="{ standalone: true }"
        class="textToBeChanged"
      />
    </mat-form-field>
    <mat-checkbox [(ngModel)]="before" [ngModelOptions]="{ standalone: true }"
      >Before</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="after" [ngModelOptions]="{ standalone: true }"
      >After</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="filename" [ngModelOptions]="{ standalone: true }"
      >Filename</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="ext" [ngModelOptions]="{ standalone: true }"
      >Extension</mat-checkbox
    >
    <mat-action-row>
      <button mat-button type="submit">Submit</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
