<html>
  <div class="Meta">
    Add Date
   <div class= "inside">
    Insert <select id = "dateformat" class="drop_menu" name="Choose Date Format">
          <option value="YYYY-MM-DD">YYYY-MM-DD</option>
          <option value="MM-DD">MM-DD</option>
          <option value="YYYY">YYYY</option>
          <option value="MM">MM</option>
        </select>
        Insert at  <select id="location" class="drop_menu" name="">
            <option value=(true)>Front</option>
            <option value=(false)>End</option>
          </select>
  </div>
   </div>
