/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #5f6575;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

